@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fade-in {
  animation: fade-in 0.3s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

input {
  color: rgb(161, 161, 161);
  background-color: transparent;
  flex-grow: 1;
  padding: 7px;
  border-radius: 5px;
  outline: none;
}

input::placeholder {
  color: grey;
}

textarea {
  border: none;
  outline: none;
  color: rgb(114, 113, 113);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}

textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 4px;
}

.inverseColor {
  background: linear-gradient(to bottom right, #F37E6A, #8F1A75, #5E94B8);
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.menu-paper {
  background-color: #141414 !important;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(93, 93, 93) transparent;
}

.menu-item {
  color: rgb(179, 179, 179) !important;
}

.shadow-black {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.cardsHome:hover {
  background: linear-gradient(to bottom right, #F37E6A, #8F1A75, #5E94B8);
  background-size: cover;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  z-index: 1;
}

.sparkle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><polygon points="12,2 15.82,8.63 22,9.24 17.46,13.97 18.82,21 12,17.27 5.18,21 6.54,13.97 2,9.24 8.18,8.63" fill="%23E040FB" /></svg>') no-repeat;
  border-radius: 0;
  /* No border radius */
  opacity: 0.1;
  animation: sparkle 1s ease-out forwards;
}

@keyframes sparkle {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.definition-box {
  border: 1px solid #757575; /* Border color */
  background-color: #212121; /* Background color */
  padding: 10px; /* Padding around the text */
  border-radius: 5px; /* Optional: Rounded corners */
}
